@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10 & IE11 CSS styles go here */
  .image-shadow:after {
    display: none;
  }
  .image-shadow {
    -webkit-box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
    -moz-box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
    box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
  }
}

@supports (-ms-ime-align: auto) {
  /* Microsoft EdgeV13&14 CSS styles go here */
  .image-shadow:after {
    display: none;
  }
  .image-shadow {
    -webkit-box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
    -moz-box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
    box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
  }
}

@supports (-ms-accelerator: true) {
  /* Microsoft EdgeV13 CSS styles go here */
  .image-shadow:after {
    display: none;
  }
  .image-shadow {
    -webkit-box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
    -moz-box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
    box-shadow: 0px 18px 59px -15px rgba(54, 54, 54, 1);
  }
}

.main {
  margin: 12%;
  margin-top: 0%;
}

.image-shadow:after {
  -webkit-transform: scale(0.95) translateY(0px) translateX(-210px)
    translateZ(-30px);
  transform: scale(0.95) translateY(-205px) translateX(-210px) translateZ(-30px);
  -webkit-filter: blur(20px);
  filter: blur(20px);
  opacity: 0.9;
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  background-image: inherit;
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.image-shadow {
  margin: 20px auto;
  width: 400px;
  height: 130px;
  border-radius: 4px;
  display: block;
  position: relative;
  background-size: cover;
  background: var(--color);
  box-shadow: 0px 16px 40px -20px #111111;
}

.info {
  text-align: center;
  color: #fff;
  width: 400px;
  height: 130px;
  background-color: rgba(0, 96, 241, 0.507);
  overflow: hidden;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.info h2 {
  padding-top: 27px;
  font-size: 28px;
  font-weight: bolder;
}

.info p {
  font-size: 18px;
}

.scrollmenu {
  background-color: transparent;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 2%;
  margin: 40px 0px 40px 0px;
}

.scrollmenu a {
  display: inline-block;
  text-align: center;
  margin: 24px 24px 24px 24px;
}

.scrollmenu::-webkit-scrollbar {
  width: 1em;
  height: 10px;
}

.scrollmenu::-webkit-scrollbar-track {
  background: rgb(221, 221, 221);
  border-radius: 8px;
}

.scrollmenu::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 8px;
  outline: 1px solid slategrey;
}
