@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");

:root {
  --color: #346bd1;
  --accent: #36f1cd;

  --white: #ffffff;
  --anti-flash-white: #f2f2f2;
  --light-grey: #d4d4d4;
  --grey: #999999;
  --black: #111111;
  --red: #dd084f;
  --green: #33c67d;
  --blue: #3c91e6;
  --yellow: #e5d200;
  --orange: #ff7423;

  --primary-color: var(--black, #111111);
  --secondary-color: var(--color);
}

.noscroll {
  overflow: hidden;
}

.search-input input {
  transition: 0.3s;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  color: var(--color, #111111);
  float: left;
  font-weight: bold;
  font-size: 17px;
  background: #fff;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
}

::-moz-selection {
  background: var(--secondary-color, #f87060);
  color: var(--white, #ffffff);
}
::selection {
  background: var(--secondary-color, #f87060);
  color: var(--white, #ffffff);
}

@supports (-ms-ime-align: auto) {
  /* Microsoft EdgeV13&14 CSS styles go here */
  ::selection {
    background: #f87060;
    color: #ffffff;
  }
}

@supports (-ms-accelerator: true) {
  /* Microsoft EdgeV13 CSS styles go here */
  ::selection {
    background: var(--secondary-color, #f87060);
    color: var(--white, #ffffff);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: var(--anti-flash-white);
  color: #111111;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20vw;
  padding-right: 20vw;
}

.home {
  min-height: 100vh;
  background: var(--secondary-color);
  color: #f2f2f2;
}

.home h1 {
  text-align: center;
}

.backLink {
  color: var(--white, #ffffff);
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  background-color: var(--primary-color, #111111);
  padding: 4px 8px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .main {
    margin-top: 20px;
  }
  .page {
    padding-top: 100px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.container {
  min-height: 0px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: flex-start;
}

.container:after {
  display: block;
  content: " invisible node " flex(999 999 auto);
}

.item {
  flex: 0 0 auto;
  margin: 20px;
}

.shadow {
  -webkit-box-shadow: 0px -5px 28px 0px rgba(130, 130, 130, 0.65);
  -moz-box-shadow: 0px -5px 28px 0px rgba(130, 130, 130, 0.65);
  box-shadow: 0px -5px 28px 0px rgba(130, 130, 130, 0.65);
}

.transition {
  transition: 0.0002s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.0002s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.0002s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition: 0.0002s;
  -ms-transition-timing-function: ease-in-out;
}

.playerImage {
  width: 100%;
}

.grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.page-container {
  width: auto;
  margin: 30px;
  color: black;
  padding: 20px 20px;
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 0px 18px 54px -17px #111111;
}

@media only screen and (max-width: 320px) {
  .page-container {
    width: auto;
    margin: 0px;
    box-shadow: 0px 18px 54px -17px #111111;
  }
}
