.card {
  transition: 0.3s;
  width: 300px;
  overflow: hidden;
  text-decoration: none;
  color: var(--primary-color, #111111);
  margin: 2px;
  float: left;
  background: #fff;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 54px -17px #111111;
}

.s-card {
  transition: 0.3s;
  width: 300px;
  overflow: hidden;
  text-decoration: none;
  color: var(--primary-color, #111111);
  margin: 2px;
  background: #fff;
  border: 1px solid var(--color);
  border-radius: 2px;
  cursor: pointer;
}

.card:hover {
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 18px 54px -17px #111111;
}

.card-flow {
  display: flex !important;
}

.card .container {
  padding: 4px 4px;
  max-height: 100px;
  min-height: 100px;
}
.card-container {
  padding-left: 10px;
}
.card > .container > ul {
  margin-right: auto;
  margin-left: 32px;
  list-style: none;
  line-height: 1;
  margin-top: 6px;
}

.card > .container > h4,
h5 {
  margin: px;
  line-height: 0;
}

.card h4 {
  font-size: 16px;
}

.card h5 {
  font-size: 14px;
  color: var(--grey);
  font-weight: 500;
}

@media only screen and (max-width: 350px) {
  .card {
    width: 280px;
  }
}

@media only screen and (max-width: 920px) {
  .card-flow {
    display: grid !important;
  }
}
