.header {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header li {
  float: right;
  padding: 12px;
}

.header li svg {
  padding: 12px;
}

.header li a {
  display: block;
  text-align: center;
  padding: 8px 4px;
  text-decoration: none;
  font-weight: bold;
  color: #111111;
  margin: 4px;
  border-radius: 2px;
  font-size: 16px;
}

.activelink {
  color: var(--secondary-color) !important;
}

.header #logo {
  position: relative;
  float: left;
  padding: 12px;
}

#logo #logochild {
  font-size: 18px;
  letter-spacing: 4px;
}

#logo #logochild:hover {
  filter: hue-rotate(12deg);
}

#logo #logochild:hover::first-letter {
  background: var(--secondary-color);
  color: white;
  transform: translateY(12px);
}

#logo #logochild::first-letter {
  font-size: 24px;
  position: absolute;
  padding: 4px 11px;
  margin-right: 4px;
  border-radius: 4px;
  background: black;
  font-weight: normal;
  color: white;
  letter-spacing: 0px;
  font-family: "Bitter", serif;
}

.header li a:hover:not(.active) {
  color: var(--secondary-color, #f87060);
}

@media only screen and (max-width: 500px) {
  .header li .link {
    display: none;
  }

  .header li svg {
    padding: 4px;
  }

  #logo {
    margin: 0 auto;
  }

  #logo #logochild {
    font-size: 12px;
  }

  #logo #logochild::first-letter {
    font-size: 18px;
    padding: 4px 8px;
  }
}
