.noscroll {
  overflow: hidden;
}

.sticky {
  display: flex;
  flex-flow: row-reverse;
  margin-bottom: 0px;
  background-color: var(--white);
  padding: 6px 6px;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-radius: var(--radius) var(--radius) 0 0;
  margin: auto;
  position: sticky;
  top: 0px;
  width: 72%;
  z-index: 2;
}

.modal {
  position: fixed;
  z-index: 3;
  display: initial;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.445);
  transition-timing-function: ease-out cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 01.5s;
}

.modal-title {
  margin: 0px 0px 0px 34px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.modal-content {
  background-color: var(--white, var(--anti-flash-white));
  margin: auto;
  /* margin-top: 40px; */
  margin-bottom: 40px;
  padding: 24px 20px;
  width: 70%;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  /* border-radius: var(--radius); */
}

#modal-content-animation {
  -webkit-animation-duration: 0.6s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 0.6s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
  animation-duration: 0.6s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

#sticky-animation {
  --duration: 0.7s;
  -webkit-animation-duration: var(--duration);
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: var(--duration);
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
  animation-duration: var(--duration);
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.modal-content > div > .content {
  margin-left: 2%;
  margin-right: 2%;
  padding: 2px 0px;
}

.close {
  padding: 8px 12px;
  margin-bottom: 4px;
  z-index: 3;
  border-radius: var(--radius);
  color: var(--white-2, #fff);
  font-weight: bolder;
  text-decoration: none;
  background-color: var(--black, #111);
  border: 2px solid var(--black, #111);
}

h4 + .close {
  transform: translate(-12px, -32px);
}

.close:hover {
  border: 2px solid var(--accent);
}

.modal-content p {
  line-height: 1.4;
  word-spacing: 3px;
  color: var(--black, #111);
}

.modal-content h3 {
  margin-top: 50px;
}

.modal-content-head {
  font-weight: bolder;
}

@media (max-width: 700px) {
  .sticky {
    padding: 12px 20px;
    width: 80%;
  }

  .modal-content {
    width: 80%;
    margin-bottom: 5vh;
  }

  .modal-content > div > .content {
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px 0px;
  }
}

@media (max-width: 500px) {
  .modal-content > div > .content {
    margin-left: 4%;
    margin-right: 4%;
    padding: 20px 0px;
  }

  .sticky {
    padding: 12px 20px;
    width: 85%;
    margin-bottom: -22px;
  }

  .modal-content {
    margin-top: 20px;
    width: 85%;
    margin-bottom: 5vh;
  }
}

@media (max-width: 400px) {
  .modal {
    background-color: var(--white, #fff);
  }

  .modal-title {
    margin-left: 0px;
  }

  .modal-content > div > .content {
    margin-left: 2%;
    margin-right: 2%;
  }

  .sticky {
    padding: 12px 20px;
    width: 100%;
    margin-bottom: -22px;
  }

  .modal-content {
    margin: 0px;
    width: 100%;
    margin-bottom: 2vh;
  }

  .close {
    position: fixed;
    float: left;
    transform: translate(66vw, 68vh);
    background: var(--black, #111);
    color: var(--white-2, #fff);
    padding: 6px 30px;
  }
}
